<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name=".products.selfie.SmileIDSmartSelfieEnrollmentActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".products.selfie.SmileIDSmartSelfieAuthenticationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".products.enhancedselfie.SmileIDSmartSelfieEnrollmentEnhancedActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".products.enhancedselfie.SmileIDSmartSelfieAuthenticationEnhancedActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".products.document.SmileIDDocumentVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".products.biometric.SmileIDBiometricKYCActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

        <activity
            android:name=".products.enhanceddocv.SmileIDEnhancedDocumentVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="DiscouragedApi" />

    </application>

</manifest>