<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity
                android:name=".SmileIDSmartSelfieEnrollmentActivity"
                android:exported="true" />
        <activity
                android:name=".SmileIDSmartSelfieAuthenticationActivity"
                android:exported="true" />

        <activity
                android:name=".enhanced.SmileIDSmartSelfieEnrollmentEnhancedActivity"
                android:exported="true" />

        <activity
                android:name=".enhanced.SmileIDSmartSelfieAuthenticationEnhancedActivity"
                android:exported="true" />

    </application>

</manifest>