name: Lint Build and Test
on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Flutter:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.0" # Set the desired Flutter version here
          channel: "stable"
      - name: Install Dependencies
        run: flutter pub get && cd sample && flutter pub get && cd ..
      - name: Lint Flutter
        run: dart format . --set-exit-if-changed && flutter analyze
  Android:
    runs-on: ubuntu-latest
    env:
      GRADLE_OPTS: "-Dorg.gradle.vfs.watch=false"
    timeout-minutes: 10
    strategy:
      matrix:
        flutter-version: ["3.32.0"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ matrix.flutter-version }}
          channel: "stable"
      - name: Install Dependencies
        run: flutter pub get && cd sample && flutter pub get && cd ..
      - name: Lint Android
        uses: musichin/ktlint-check@v4
        with:
          ktlint-version: "1.7.0"
          patterns: |
            **/**.kt
            !**/**.g.kt
            !**/generated/**
      - name: Test
        run: flutter test && cd sample && flutter test && cd ..
      - name: Build Android Sample App
        run: cd sample && flutter build apk && cd ..
  iOS:
    runs-on: macos-15
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - run: touch sample/ios/smile_config.json
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.32.0" # Set the desired Flutter version here
          channel: "stable"
      - name: Select Xcode 16.4
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.4"
      - name: Setup Cocoapods
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          version: 1.14.3
      - name: Install Dependencies
        run: flutter pub get && cd sample && flutter pub get && cd ..
      - name: Build iOS Sample App
        run: cd sample/ios && pod install && flutter build ios --no-codesign && cd ..
