name: Lint Build and Test
on:
  pull_request:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Android:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.6' # Set the desired Flutter version here
          channel: 'stable'
      - name: Install Dependencies
        run: flutter pub get && cd sample && flutter pub get && cd ..
      - name: Test
        run: flutter test && cd sample && flutter test && cd ..
      - name: Build Android Sample App
        run: cd sample && flutter build apk && cd ..
  iOS:
    runs-on: macos-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3
      - run: touch example/ios/smile_config.json
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.10.6' # Set the desired Flutter version here
          channel: 'stable'
      - name: Install Dependencies
        run: flutter pub get && cd sample && flutter pub get && cd ..
      - name: Build iOS Sample App
        run: cd sample && flutter build ios --no-codesign && cd ..
