name: Release Flutter SDK
on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}

jobs:
  deployment:
    name: Deploy package
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: dart-lang/setup-dart@v1
      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Publish package
        run: flutter pub publish -v -f
